body {
  font-family: 'Montserrat', sans-serif;
  /* font-family: 'Playfair Display', serif; */
}

.carousel-inner {
    padding: 1em;
  }

  .one{
    height: 50vh;
    width: 50vh;
  }
  .two{
    height: 50vh;
    width: 66vh;
  }
  
  .three{
    height: 50vh;
    width: 88vh;
  }
  .four{
    height: 50vh;
    width: 88.88vh;
  }
  .five {
    height: 50vh;
    width: 50vh;
  }
  .six{
    height: 50vh;
    width: 73.26vh;
  }
  /* .display{
    display: ;
  } */
  .noDisplay {
    display: none;
  }
  .card {
    margin: 0 0.5em;
    /* box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18); */
    border: none;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      /* flex: 0 0 33.333333%; */
      display: block;
    }
    .carousel-inner {
      display: flex;
      
    }
  }
  .card .img-wrapper {
      width: auto;
      height: 40 vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  /* .card img {
      max-height: 100%;
  } */

  .carousel-control-prev{
    display: ;
  }
  @media screen and (max-width: 767px) {
    .card .img-wrapper .carousel-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 17em;
    }
  
  .one .two .three .four .five .six{
    height: 17em;
    width: 90vw;
  }

  .nodisplay {
    display: none;
  }
  }

  .third-of-width {
    width: 35%;
   }
   
   
   @media (max-width: 768px) {
  
    .third-of-width{
      width: 100%
    }
    .nodisplay {
      display: none;
    }}
/* overlay*/
    .image-item {
      position: relative;
      cursor: pointer;
    }
    .image-wrap {
      position: relative;
      cursor: pointer;
    }
    .photoIcon {
      width: 100%;
      height: 150px;
      object-fit: cover;
}