/* ======================================
Responsive Image gallery Style rules
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Playfair Display', serif; */
  }
  
  .container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 .photoIcon {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
 }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .contactSection{
    display: flex;
    flex-direction: column;
  }
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  #photoMe {
    /* height:60%;
    width: auto; */
    /* border-radius: 50px; */
  }
  #contactLeft {
    background: url(/icons/watercolor\ stain2.png); 
    background-size: contain; 
    background-position: start center; 
     background-repeat:no-repeat; 
  }
  #exampleFormControlInput1 , #exampleFormControlInput2 {
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgb(149, 148, 148);
    color:whitesmoke;
  }
 
  
  #exampleFormControlTextarea1{
    background-color: transparent;
    border: transparent;
    border-radius: 0;
    border-bottom: 1px solid rgb(149, 148, 148);
    color: whitesmoke;
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  
  }
  
  
  /* overlay styles */
  
  .image-item {
    position: relative;
    cursor: pointer;
  }
  .image-wrap {
    position: relative;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    /* transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out; */
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-wrap:hover .overlay {
    /* transform: scale(1); */
  }
  .image-item:hover .overlay {
    /* transform: scale(1); */
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    /* display: none; */
    /* background: url(/icons/2942376\ square\ 120px.jpg); */
    background-size: cover;
    border-style: 2x solid #9B9592;
    border-radius: 30px;
   
  }
  .fillSVG {
    fill: whitesmoke;
    /* width: 60px;
    height: 60px; */
    /* display:inline-table; */
  }
#submitForm {
  border: 2px solid;
}  

 .third-of-width {
  width: 35%;
 }
 
 /* img.rounded-corners {
  border-radius: 50px;
} */
 @media (max-width: 768px) {

  .third-of-width{
    width: 100%
  }
  .nodisplay {
    display: none;
  }
  #about{
     display: flex; 
     flex-direction: column;
     justify-content: center;
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 60px;
  }

  #photoMe {
    width:100%;
    height: auto;
  }
  #contactLeft {
    background: none;
  }
}


.container {
  padding: 2rem 0rem;
}

h4{
  margin: 3rem 0rem 2rem;  
}

.image-parent {
  background-color: #E9E9E9;
  max-width: 400px;
  min-height: 300px;
}

.img-wrapper {
  width: 10%;
  margin: 0rem 1.5rem 0rem 0rem;
}

.img-wrapper-20 {
  width: 20%;
  margin: 0rem 1.5rem 0rem 0rem;
}

