/* ======================================
Responsive Image gallery Style rules
======================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    padding: 40px 5%;
  }
  
  .heading-text {
    margin-bottom: 2rem;
    font-size: 2rem;
  }
  
  .heading-text span {
    font-weight: 100;
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    /* Mobile first */
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
 .photoIcon {
                    width: 100%;
                    height: 130px;
                    object-fit: cover;
 }
  
  .image-gallery .column {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .image-item img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
  }
  #photoMe {
    border-radius: 250px;
  }
  
  @media only screen and (min-width: 768px) {
    .image-gallery {
      flex-direction: row;
    }
  
  }
  
  /* overlay styles */
  
  .image-item {
    position: relative;
    cursor: pointer;
  }
  .image-wrap {
    position: relative;
    cursor: pointer;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    /* center overlay content */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-wrap:hover .overlay {
    transform: scale(1);
  }
  .image-item:hover .overlay {
    transform: scale(1);
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    /* display: none; */
    background: url(/icons/2942376\ square\ 120px.jpg);
    background-size: cover;
    border-style: 2x solid #9B9592;
    border-radius: 30px;
   
  }
  .fillSVG {
    fill: whitesmoke;
    /* width: 60px;
    height: 60px; */
    /* display:inline-table; */
  }
#submitForm {
  border: 2px solid;
}  

 .third-of-width {
  width: 35%;
 } @media (max-width: 768px) {

  .third-of-width{
    width: 100%
  }
  .nodisplay {
    display: none;
  }
  #about{
     display: flex; 
     flex-direction: column;
     justify-content: center;
  }

  #photoMe {
    width:100%;
    height: auto;
  }

}