.heading,  .btnContainer {

    display: flex;
    justify-content: center;
    font-family: 'Satisfy', cursive;
    
}
/* .author {
 
 font-size:20px;

} */

/* body {
    background-color:#FFC996;
} */

.main{

    font-size:40px;
}
.saying{
    font-size: 25px;

}
.item {
background-position:center;
background-size:cover;
font-family:'Satisfy', cursive ;
border-radius: 15px;
flex:1;
margin:5px;
position: relative;
}

h4 {
    position:absolute;
    top:40px;
    left: 20px;
    background-color: #fff;
    color: #000000;
    opacity:0;
    /* display:none; */
}

.par {
    position:absolute;
    top:100px;
    left: 20px;
    background-color: #fff;
    color: #000000; 
    opacity:0;
    /* display:none;   */
}

.size_price{
    position:absolute;
    bottom: 20px;
    background-color: #fff;
    color: #000000; 
    opacity:0;
    left: 20px;

}

.extended {
    flex: 1;
}

.extended h4 {
     font-size:25px; 
    transition: all 1s ease-in;
    opacity:1;
}
.extended .par {
   font-size:18px; 
   transition: all 1s ease-in;
   opacity:1;
}

.extended .size_price {
    font-size:18px; 
   transition: all 1s ease-in;
   opacity:1;
   bottom:10px;
}
.one {
    background-image:url(/img/angels1.jpg);
     
}

.two{
    
    background-image:url(/img/angels2.jpg);
 
}

.three {
    background-image:url(/img/angels3.jpg)

}
.four {

 background-image: url(/img/angels4.jpg);   
}

/* .five {
    background-image: url(https://cdn.glitch.com/53c7f80e-8344-41e2-a021-a6b3eb904f3e%2F643A1619-2.jpg?v=1625446464128); 

}
.six {

    background-image:url(https://cdn.glitch.com/53c7f80e-8344-41e2-a021-a6b3eb904f3e%2F1_dglWyN7vN0Ir0fGjLdm15vNONgc%3D_135b2b_6988ab9b_orig-3.jpg?v=1625449836916) ;
} */
.containerGallery{
    height:90vh;
display: flex;
justify-content: center;
}

.contactForm{
display: flex;
justify-content: center;

}

.label {
 font-family:  'Satisfy', cursive;
 font-size: 20px;
}
.email {
    
     border: none;
     border-radius: 10px;
     height: 20px;
     margin-bottom: 10px;
     margin-left:20px;
     width:178px;

}   
 .area {
    border: none;
    border-radius: 10px;
    min-height: 10px;
    height: auto;
    min-width:

 }

 .btn{
    border: none;
    border-radius: 3px;
    height: 40px;
    width: 80px;
    background-color: #FFDAB9;
    margin-top: 10px;;
    font-family:  'Satisfy', cursive;
    font-size: 20px;
    margin-bottom: 30px;
 }

 .btn:hover {

    background-color: #F4A460; 
    cursor:pointer; 

 }
 .emailContainer{

    display: flex;
    justify-content: space-between;
 }

 ::placeholder {

    font-family: 'Satisfy', cursive;
 }

 @media all and (max-width: 600px ){

   .containerGallery{
       display: flex;
       /* flex-direction: column; */
       justify-content: center;
   }

   .extended {
    flex: 30;
}
.extended .size_price {
    font-size:18px; 
   transition: all 1s ease-in;
   opacity:1;
   bottom:10px;
}


.extended h4 {
     font-size:18px; 
    transition: all 1s ease-in;
    opacity:1;
    top:10px;
}
.extended .par {
   font-size:18px; 
   transition: all 1s ease-in;
   opacity:1;
   top:50px;
}

.heading {

  text-align: center;
}

}
